@tailwind base;
@tailwind components;
@tailwind utilities;

/*
tailwind 지시문은 JSX 마크업에서 바로 유틸리티 클래스를 
빠르게 작성할 수 있도록 해 개발 과정의 속도를 높이는 
CSS 프레임워크 

Tailwind에서는 클래스 이름을 추가하여 요소를 스타일링합니다. 
예를 들어, "text-blue-500" 클래스를 추가하면 <h1> 텍스트가 
파란색이 됩니다:
<h1 className="text-blue-500">I'm blue!</h1>

새 프로젝트를 시작할 때 create-next-app을 사용하면 
Next.js가 Tailwind를 사용할 지 여부를 묻습니다. 
예를 선택하면 Next.js가 자동으로 필요한 패키지를 설치하고 
애플리케이션에서 Tailwind를 구성
*/

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
