.shape {
  height: 0;
  width: 0;
  border-bottom: 30px solid black;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

/*
Tailwind와 CSS 모듈은 Next.js 애플리케이션을 스타일링하는 가장 일반적인 
두 가지 방법입니다. 어느 쪽을 사용할지는 취향 문제입니다. 
심지어 같은 애플리케이션에서 두 가지 모두 사용할 수 있습니다!
*/

/*
우리가 논의한 방법들 외에도, Next.js 애플리케이션을 다음과 
같은 방법으로 스타일링할 수 있습니다:

.css 및 .scss 파일을 가져올 수 있는 Sass.
styled-jsx, styled-components, 그리고 emotion과 같은 CSS-in-JS 라이브러리.
*/